@model Rentler.Web.Models.AccountChangePasswordModel
@section title {Change Password}
@section description {Change your password.}
@section css {
<link rel="Stylesheet" href="/css/pages/dashboard.css?v=@Html.BuildNumber()" />
<link rel="Stylesheet" href="/css/pages/register.css?v=@Html.BuildNumber()" />
}
@section js {
<script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.validate.unobtrusive.min.js"></script>
}

 @Html.Partial("TabsNavigation", "account")

<div class="container">
   
    <div class="sub-tab">
        <a href="/account/profile">Profile</a>
        <a href="/account/application">Application</a>
        <a href="/account/changepassword" class="active">Change Password</a> 
    </div>
    
    <div id="register" class="container">
        <div class="registrationContainer">
		    <div class="registerBox change-password">
			    <div class="darkHeading">Change your password</div>
                @using(Html.BeginForm("changepassword", "account", FormMethod.Post, new { @class="form-horizontal" }))
                {
                    @Html.ValidationSummary("Please correct the errors and try again:")

                    if (!string.IsNullOrEmpty(Model.Message))
                    {
                    <div class="change-message">@Model.Message</div>
                    }
                    
                    <fieldset>
                        <div class="control-group">
                            <label for="Input_UserName" class="control-label">Old Password</label>
                            <div class="controls">
                                @Html.PasswordFor(m => m.Input.OldPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="Input_Password" class="control-label">New Password</label>
                            <div class="controls">
                                @Html.PasswordFor(m => m.Input.NewPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="Input_ConfirmPassword" class="control-label">Confirm Password</label>
                            <div class="controls">
                                @Html.PasswordFor(m => m.Input.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="button blue">Change Password</button>
                        </div>
                    </fieldset>                                
                }
            </div>
        </div>
        <div class="registerMarketing">
		    <div>
			    <div class="sectionHead">Landlord Love.</div>
			    <div>
                    Rentler is a powerful online property management tool designed by landlords for landlords. With Rentler you'll save time, effort and headache as you effectively and efficiently accomplish frequent property management tasks through automated, streamlined functionality. From Auto pay set up to intelligent background checks, we're putting the ease back into lease.
		        </div>
	        </div>	
        </div>
        <div style="clear:left;"></div>
    </div>
</div>