@model Rentler.Web.Models.AccountChangePasswordModel
@section title {Update Profile}
@section description {}
@section js {
    <script type="text/javascript" src="/scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container">
    <h2>Change Password</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        
        <div>@Model.Message</div>
        
        @Html.LabelFor(m => m.Input.OldPassword)
        @Html.PasswordFor(m => m.Input.OldPassword)

        @Html.LabelFor(m => m.Input.NewPassword)
        @Html.PasswordFor(m => m.Input.NewPassword)
        
        @Html.LabelFor(m => m.Input.ConfirmPassword)
        @Html.PasswordFor(m => m.Input.ConfirmPassword)

        <button type="submit">Change Password</button>
    }
</div>